@model Ems.Data.Models.Domain.Employee

@{
    ViewData["Title"] = "ResetPassword";
    
}


<div class="container mt-5">
    <h3 class="text-center mb-4">Edit Employee</h3>


    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <validation-summary asp-validation-summary="All" class="text-danger"></validation-summary>

        <input type="hidden" asp-for="EmpID" />

        <div class="mb-3">
            <label asp-for="EmpPassword" class="form-label">Password</label>
            <input asp-for="EmpPassword" type="password" class="form-control small-input" />
            <span asp-validation-for="EmpPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control small-input" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Update</button>
    </form>



    @*  <div class="text-center">
            <a asp-controller="Employee" asp-action="Edit" class="btn btn-primary">Go to List</a>
        </div> *@


</div>

