@model Ems.Data.Models.Domain.Login

@{
    ViewData["Title"] = "Login";
}
<style>
    body{
        background-image: url("/images/950.jpg");

    }
    .card{
        background-color:darkcyan;
    }
    .mb-4{
        color:aliceblue;
    }
    .form-label{
        color:aliceblue
    }

    .custom-login-button {
        background-color:mediumturquoise; 
        color: midnightblue;
        border: none;
    }

        .custom-login-button:hover {
            background-color:midnightblue;
            color:aquamarine;
        }

</style>
<!-- Bootstrap container to center content -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">Swift Login</h3>

        <form asp-action="Index" method="post">
            <div class="mb-3">
                <label asp-for="EmpEmail" class="form-label">Email</label>
                <input asp-for="EmpEmail" class="form-control form-control-sm" placeholder="Enter your email" />
                <span asp-validation-for="EmpEmail" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="EmpPassword" class="form-label">Password</label>
                <input asp-for="EmpPassword" type="password" class="form-control form-control-sm" placeholder="Enter your password" />
                <span asp-validation-for="EmpPassword" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn custom-login-button w-100 btn-sm">Login</button>


            
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
